################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs/
/**/bin/
/**/obj/
/src/packages/
/src/TestResults/
/src/tools/